nav.navbar.navbar-expand-lg.bg-primary.navbar-dark
      .container
        a.navbar-brand(href='#')
          img( class='navbar-img' src="/images/logo.png", alt="ảnh logo")
        button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarNav')
          span.navbar-toggler-icon 
        #navbarNav.collapse.navbar-collapse
          ul.navbar-nav
            li.nav-item
              a.nav-link.active(href='#') Home
            li.nav-item
              a.nav-link(href='#') About
            li.nav-item
              a.nav-link(href='#') Services
            li.nav-item
              a.nav-link(href='#') Contact
